/*Осн колір тексту #212121
 
другий колір тексту #757575

білий #FFFFFF

акцент синій #2196F3

фон перший #F5F5F5

фон другий #F5F4FA

*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --default-color: #188ce8;
  --primari-bg-color: #f5f5f5;
}

body {
  font-family: Roboto, sans-serif;  
  background-color: var(--primari-bg-color);
  color: var(--title-text-color);
}

/* logo */

.logo {
  font-family: "Raleway";  
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-span {
  color: #000000;
}
.logo,
.site-nav,
.site-nav .link,
.top-address,
.top-address .link, 
.feature .list,
.list .item,
.section-command .list,
.section-command .card,
.address,
.filter,
.gallery {
  list-style: none;
  text-decoration: none;
}

/* nav */
.site-nav .link {  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color); 
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.top-address .link:hover,
.top-address .link:focus{
  color: var(--accent-color);
}

/* top-address */

.top-address .link.current {
  color: var(--accent-color);
}
.site-nav,
.top-address {
  cursor: pointer;
}

/* main */

/* hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;  
}
/* button */

.order {
    font-family: 'Roboto';  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;        
    text-align: center;
    letter-spacing: 0.06em; 
    color: var(--primari-bg-color);
    background-color: var(--default-color);
}
.order:hover,
.order:focus {
  background-color: var(--accent-color);
}
.order:active {
  background-color: var(--primari-bg-color);
  color: var(--default-color);
}

/* feature */


.feature .title {  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}
.feature .text{  
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* section works */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
 
/* section-command */

.section-command .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-command .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;     
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.section-command .profession{
    font-size: 16px;
    line-height: 1.18;     
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
 
/* address */

.address .text{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.address .link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
}
.address .text, 
.address .link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* portfolio  */

/* filter */

.filter .item {
  background-color: #ffffff;
  color: var(--title-text-color);
}
.filter .item.current {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter .item:hover,
.filter .item:focus {
  background-color: var(--accent-color);
  color: var(--primari-bg-color);
}

/* gallery */

.gallery {
}

.gallery-list {
}

.gallery-title {
  color: var(--title-text-color);
}
.gallery-text {
  color: var(--primary-text-color);
}
